<section class="list-todo1">
    <div class="list-todo-content">
      <form action="/add_cinema" method="post">
        <input class="add-todo__text" type="text" required value="" name="cinema_name" placeholder="Enter Cinema Name"></br>
        <input class="add-todo__text" type="text" required value="" name="cinema_location" placeholder="Enter Cinema Location"></br>
        <input class="btn list-todo__btn" type="submit" value="Add New Cinema">
      </form>
      </br>
      <form action="/" method="get">
        <button class="btn list-todo__btn" type="submit" >Back</button>
      </form>
    </div>
  </section>
